*{
    font-family: 'EB Garamond', sans-serif;

}

html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}

/* nav bar css*/
.gridContainerNavbar{
    display: grid;
    grid-template-columns: 100%;
    width:100%;
    gap: 0;
    top: 0;
    position: absolute;
}

.hamburger {
    display: none;
    margin: 2%;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: rgb(88, 32, 15) 1px 0 1px;
}

.navContainer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    
}

.navContainer ul{
    font-size: 1.8rem;
    display: flex;
    width: 70%;
    justify-content: space-around;
    
}

.navContainer h1{
  margin: 0;
  margin-left: 1%;
}




.navContainer li a{
    color:rgb(88, 32, 15);
    font-weight: bolder;
    text-shadow: rgb(255, 61, 2) 1px 1px 1px;
}

.navContainer li a:hover{
    color:gold;
    font-weight: bolder;
    text-shadow: goldenrod 1px 1px 1px;
}



li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* main css  begin*/

/* banner css  begin*/
.containerMainApp{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.bannerApp {
    width: 100%;
    height: 15rem;
    box-shadow:rgba(99, 49, 2, 0.973) 1.5rem 0rem 1.5rem;
    grid-column-start: 1;
    grid-row-end: 1;
    background-image: url("./../img/banner.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.containerImagesBanner{
    position: absolute;
    top: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bannerApp img{
    border-radius: 50%;
    width:10rem;
}
/* banner css  end*/
/* article css  begin*/
.titleArticle{
    margin-top: 10rem;
}
.titleArticle a{
   
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    color:rgb(88, 32, 15);
    text-shadow: rgb(255, 61, 2) 1px 1px 1px;
  }
.containerMainApp h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.containerMainApp p {
    text-align: center;
    font-size: 3vmin;
    margin: 1rem;
}
/* main css  end*/

/* img gallery */

.imgGallery{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    margin: 1rem;
    gap: 1rem;
    text-align: center;
}



.img_1{
   box-shadow: rgb(88, 32, 15) 2px 0px 2px;
   grid-column: 1/4; 
   grid-row: 1/8;
   width: 66%;
   height: auto;
}

.img_2{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/5; 
    grid-row: 1/3;
    width: 48%;
    height: auto;
 }

.img_3{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/8; 
    grid-row: 3/6;
    width: 85%;
    height: auto;
 }

.img_4{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 75%;
    height: auto;
 }

.img_5{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 1/2; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_6{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/5; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_7{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 80%;
    height: auto;
 }

.imgTitle{
    text-align: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.containerImgGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* shop gallery */

.imgShop{
    
    display: grid;
    grid-template-columns: repeat(6,16%);
    grid-template-rows: repeat(6,16%);
    gap: 1rem;
    width: 50%;
}

.imgShop_1{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 1/3;
    grid-row: 1/8;
    width: 70%;
    height: auto;
}

.imgShop_2{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 3/6;
    grid-row: 1/5;
    width: 80%;
    height: auto;
}

.imgShop_3{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 3/6;
    grid-row: 5/9;
    width: 80%;
    height: auto;
}

.imgShop_4{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 6/8;
    grid-row: 1/10;
    width: 100%;
    height: auto;
}

@media all and (max-width:800px){
    /* gallery img */
    .imgGallery{
        width: 100%;
        display: flex;
        flex-direction: column;
       
       
    }

    .img_1{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
     }
     
     .img_2{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
      }
     
     .img_3{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
      }
     
     .img_4{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
      }
     
     .img_5{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
      }
     
     .img_6{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
        width: 100%;
        height: auto;
      }
     
     .img_7{
        box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    
        width: 100%;
        height: auto;
      }
    /* shop img*/
    .imgShop{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imgShop_1{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_2{
       
        width: 100%;
        height: auto;
    }
    
    .imgShop_3{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_4{
       
        width: 100%;
        height: auto;
    }
}

@media all and (max-width:1503px){

    /* container nav */
    .navContainer{
        margin: 0;
      
        justify-content: space-between;
        align-items: center;
        
    }
    

    .navContainer ul{
        display: none;
        width: 50%;
        
    }

    .navContainer h1{
        margin: 0;
        margin-left: 0;
        width: 90%;
      }

      /* hambourger */
    .hamburger {
        display: block;
        margin-left: 1%;
    }
    
    .bar {
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgba(99, 49, 2, 0.973);
    }

    .hamburger:checked + #navContainer +#navContainer ul{
        display: flex;

    }

}
/*footer*/

footer, .page-wrap:after {
  padding: 1% 5%;
  text-align:center;
  background-color: #c38d45;
  color: white;
  gap: 0;
  bottom: 0;
}
.footerp
{
text-align:center;
}
.footerh
{
text-align:center;
}
.containerfooter {
  position: relative;
  bottom: 0;
    
    margin-top: -180px;
    clear: both;
    bottom:0;
    right: 0;
    left: 0;

    padding-bottom: 0px;
    height:170px;
    margin: 0;
    padding: 1rem;

    text-align: center;
    color: rgb(14, 14, 12);
    font-size: medium;
    font-weight: bold;
    }
   

#leftbox_footer {
    float: left;
    width: 50%;
    height: 170px;
    text-align:center
}
#rightbox_footer {
    float: right;
    width: 50%;
    height: 170px;
    text-align:center
}
@media all and (max-width:911px){
    .containerfooter {
        margin: 0;
        justify-content: space-between;
        align-items: center;
        
        
    }

#leftbox_footer {
    float: left;
    position: relative;
    text-align:center
}
#rightbox_footer {
  display: none;
  position: relative;
    text-align:center
}
    
}
/*footerend*/
:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
  }
  
  [data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  .space
{  width:800px; margin-top: 100px;}

  .contact-container {
    
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }
  
  .logo {
    width: 10rem;
    padding: 1.5rem;
  }
  
  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }
  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  
  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
    .logo {
      width: 8rem;
    }
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.7rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  }
    /* banner */
    .bannerApp img{
        border-radius: 50%;
        width:7rem;
    }

    /* img gallery */
    .imgGallery{
        width: 80%;
       
    }

    /* shop img*/
    .imgShop{
        width: 80%;
        display: flex;
        flex-direction: column;
       
        
    }

    .imgShop img{
        text-align:center;
        margin:auto;
        display:flex;
        text-align:center;
        margin:auto;
        display:flex;
    }

    .imgShop_1{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_2{
       
        width: 100%;
        height: auto;
    }
    
    .imgShop_3{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_4{
       
        width: 100%;
        height: auto;
    }


.tablecenter {
  margin-left: auto;
  margin-right: auto;
}
/*service*/

.wrap {
  width:800px;
  margin:0 auto;
  text-align:left;
  color:#989A8F;
}

.tableservice {
  background-color:#ffffff; 
  height:100%;
  width:100%;
  margin-top:50px;  
}

ul li {
  float:left;
  width:500PX;
  text-align:center;
  color: rgb(70, 70, 22);
  border-left:1px solid #DDDCD8;
}

.top {
  background-color:#EAE9E4;
  height:75px;
  width:100%;
}
 
.bottom {
margin-top:50px;
width:100%;
}
/*service*/
 

 

 
