*{
    font-family: 'EB Garamond', sans-serif;

}

html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}

/* nav bar css*/
.gridContainerNavbar{
    display: grid;
    grid-template-columns: 100%;
    width:100%;
    gap: 0;
    top: 0;
    position: absolute;
}

.hamburger {
    display: none;
    margin: 2%;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: rgb(88, 32, 15) 1px 0 1px;
}

.navContainer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    
}

.navContainer ul{
    font-size: 1.8rem;
    display: flex;
    width: 70%;
    justify-content: space-around;
    
}

.navContainer h1{
  margin: 0;
  margin-left: 1%;
}




.navContainer li a{
    color:rgb(88, 32, 15);
    font-weight: bolder;
    text-shadow: rgb(255, 61, 2) 1px 1px 1px;
}

.navContainer li a:hover{
    color:gold;
    font-weight: bolder;
    text-shadow: goldenrod 1px 1px 1px;
}



li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* main css  begin*/

/* banner css  begin*/
.containerMainApp{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.bannerApp {
    width: 100%;
    height: 15rem;
    box-shadow:rgba(99, 49, 2, 0.973) 1.5rem 0rem 1.5rem;
    grid-column-start: 1;
    grid-row-end: 1;
    background-image: url("./../img/banner.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.containerImagesBanner{
    position: absolute;
    top: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bannerApp img{
    border-radius: 50%;
    width:10rem;
}
/* banner css  end*/
/* article css  begin*/
.titleArticle{
    margin-top: 10rem;
}
.titleArticle a{
   
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    color:rgb(88, 32, 15);
    text-shadow: rgb(255, 61, 2) 1px 1px 1px;
  }
.containerMainApp h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.containerMainApp p {
    text-align: center;
    font-size: 3vmin;
    margin: 1rem;
    margin-bottom: 10rem;
}
/* main css  end*/

/* img gallery */

.imgGallery{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,25%);
    margin: 1rem;
    gap: 1rem;
    text-align: center;
}



.img_1{
   box-shadow: rgb(88, 32, 15) 2px 0px 2px;
   grid-column: 1/4; 
   grid-row: 1/8;
   width: 66%;
   height: auto;
}

.img_2{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/5; 
    grid-row: 1/3;
    width: 48%;
    height: auto;
 }

.img_3{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 3/8; 
    grid-row: 3/6;
    width: 85%;
    height: auto;
 }

.img_4{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 75%;
    height: auto;
 }

.img_5{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 1/2; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_6{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/5; 
    grid-row: 2/4;
    width: 100%;
    height: auto;
 }

.img_7{
    box-shadow: rgb(88, 32, 15) 2px 0px 2px;
    grid-column: 4/6; 
    grid-row: 1/3;
    width: 80%;
    height: auto;
 }

.imgTitle{
    text-align: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.imgTitle{
    text-align: center;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color:rgb(88, 32, 15);
    text-shadow: rgb(240, 138, 5) 2px 0 2px;
}

.containerImgGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

/* shop gallery */

.imgShop{
    
    display: grid;
    grid-template-columns: repeat(6,16%);
    grid-template-rows: repeat(6,16%);
    gap: 1rem;
    width: 50%;
}

.imgShop_1{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 1/3;
    grid-row: 1/8;
    width: 70%;
    height: auto;
}

.imgShop_2{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 3/6;
    grid-row: 1/5;
    width: 80%;
    height: auto;
}

.imgShop_3{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 3/6;
    grid-row: 5/9;
    width: 80%;
    height: auto;
}

.imgShop_4{
    box-shadow: rgb(88, 32, 15) 2px 2px 2px;
    grid-column: 6/8;
    grid-row: 1/10;
    width: 100%;
    height: auto;
}

/* footer */

.containerfooter{
    display: flex;
    justify-content: space-around;
    background-color: rgba(88, 32, 15, 0.815);
    color: white;
    text-align: center;
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
    bottom: 0;
    clear: both;
    position: relative;
}

.sectionInfos{
    text-align: center;
    font-size: 1vw;
}

.reservationContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tableReservation{
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
    width: 60%;
}

.sectionTable table{
    width: 100%;
    text-align: center;
}
.sectionTable th{
     color: rgb(88, 32, 15);
     font-weight: bolder;
     font-size: 2rem;
     
}

.puceTd{
    background-color: gold;
    border-radius: 5%;
    color:rgb(88, 32, 15);
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
    cursor: pointer;
   
}
.puceTd:hover{
    transform: scale(1.05);
}

.sectionTable td div{
    width: 5px;
    height: 5px;
    background-color: rgb(233, 71, 21);
}

.sectionTable{
    width: 50%;
}

.containerMainApp {
    text-align: center;
    font-size: 1.5vw;
}
/* contact css */
.sectionContactContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#contact-form input{
    border: none;
    border-bottom: 2px solid rgb(88, 32, 15);
    margin: 2em 0px;
    outline: none;
}

#contact-form textarea{
    margin-top: 1em;
    border: none;
    border-bottom: 2px solid rgb(88, 32, 15);
    outline: none;
}

#contact-form button{
    background-color: rgb(88, 32, 15); 
    border: none;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    cursor: pointer;
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
}

.contact-container{
    margin-bottom: 4rem;
}

.iframContact{
    box-shadow: rgb(88, 32, 15)2px 3px 2px;
}


@media all and (max-width:800px){

    /* footer css */
    .containerfooter{
        display: flex;
        flex-direction: column;
    }

    /* contact css */
    #contact-form button{
       
        padding: 0.5em;
        margin-top: 1.5em;
       font-size: 2em;
    }

    /* reservation css */
    .sectionTable{
        margin-top: 3rem;
        width: 30%;
    }
    .containerMainApp {
        text-align: center;
        font-size: 2rem;
    }
    /* gallery img */
    .imgGallery{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
    /* shop img*/
    .imgShop{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imgShop_1{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_2{
       
        width: 100%;
        height: auto;
    }
    
    .imgShop_3{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_4{
       
        width: 100%;
        height: auto;
    }

  
}

@media all and (max-width:1159px) {
    .sectionContactContainer{
        display: flex;
        flex-direction: column-reverse;
        
    }

    #contact-form{
        margin-bottom: 3rem;
        width: 60%;
    }
}

@media all and (max-width:1503px){
    .sectionTable{
        margin-top: 3rem;
        width: 70%;
    }

    .containerMainApp {
        text-align: center;
        font-size: 3vw;
    }
    /* container nav */
    .navContainer{
        margin: 0;
      
        justify-content: space-between;
        align-items: center;
        
    }
    

    .navContainer ul{
        display: none;
        width: 50%;
        
    }

    .navContainer h1{
        margin: 0;
        margin-left: 0;
        width: 90%;
      }

      /* hambourger */
    .hamburger {
        display: block;
        margin-left: 1%;
    }
    
    .bar {
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgba(99, 49, 2, 0.973);
    }

    .hamburger:checked + #navContainer +#navContainer ul{
        display: flex;

    }

    /* banner */
    .bannerApp img{
        border-radius: 50%;
        width:7rem;
    }

    /* img gallery */
    .imgGallery{
        width: 80%;
       
    }

    /* shop img*/
    .imgShop{
        width: 80%;
        display: flex;
        flex-direction: column;
       
        
    }

    .imgShop img{
        text-align:center;
        margin:auto;
        display:flex;
        text-align:center;
        margin:auto;
        display:flex;
    }

    .imgShop_1{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_2{
       
        width: 100%;
        height: auto;
    }
    
    .imgShop_3{
        
        width: 100%;
        height: auto;
    }
    
    .imgShop_4{
       
        width: 100%;
        height: auto;
    }


}

@media all and (max-width:1564px) {
    .sectionInfos{
        font-size: 1.6em;
    }
    .reservationContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionTable{
        margin-top: 3rem;
        width: 100%;
    }
}